@import "bootstrap-sprockets";
@import "bootstrap";

/* mixins, variables, etc. */

$gray-medium-light: #eaeaea;

/* universal */

body {
  padding-top: 60px;
}

section {
  overflow: auto;
}

textarea {
  resize: vertical;
}

.center {
  text-align: center;
  h1 {
    margin-bottom: 10px;
  }
}

/* typography */

h1, h2, h3, h4, h5, h6 {
  line-height: 1;
}

h1 {
  font-size: 3em;
  letter-spacing: -2px;
  margin-bottom: 30px;
  text-align: center;
}

h2 {
  font-size: 1.2em;
  letter-spacing: -1px;
  margin-bottom: 30px;
  text-align: center;
  font-weight: normal;
  color: $gray-light;
}

p {
  font-size: 1.1em;
  line-height: 1.7em;
}


/* header */

#logo {
  float: left;
  margin-right: 10px;
  font-size: 1.7em;
  color: white;
  // text-transform: uppercase;
  letter-spacing: -1px;
  padding-top: 9px;
  font-weight: bold;
  &:hover {
    color: white;
    text-decoration: none;
  }
}

/* form */

input, textarea, select, .uneditable-input {
  border: 1px solid #bbb;
  width: 100%;
  margin-bottom: 15px;
}

select {
  border: 1px solid #bbb;
  width: 49%;
  height: 34px;
  margin-bottom: 15px;
}

/* custom */

.font_size_18 {
  font-size: 18px !important;
}

.font_weight_b {
  font-weight: bold !important;
}

.color_wht {
  color: white !important;
}

.bg_color_grn {
  background-color: #2cbf13;
  border-color: #2cbf13;
}

.bg_color_wht {
  background-color: white !important;
}

.padding_r_200 {
  padding-right: 40%;
}

.padding_l_200 {
  padding-left: 40%;
}

.margin_t_15 {
  margin-top: 15px;
}

.margin_t_40 {
  margin-top: 40px;
}
